.primary_body {
    background-color: #666;
}

.toast-container {
    position: fixed;
    right: 20px;
    top: 20px;
}


.sat-plot {}

.sat-plot-wrap {
    height: 100%;
    //background-color: #d6fdd6;
    position: relative;
}

.sat-plot-circle {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 100%;
    border: #999999 1px solid;
}
.sat-plot-circle30 {
    position: absolute;
    top: 16.66%;
    right: 16.66%;
    left: 16.66%;
    bottom: 16.66%;
    border-radius: 100%;
    border: #999999 1px dotted;
}
.sat-plot-circle60 {
    position: absolute;
    top: 33.33%;
    right: 33.33%;
    left: 33.33%;
    bottom: 33.33%;
    border-radius: 100%;
    border: #999999 1px dotted;
}
.sat-plot-circle-text90 {
    position: absolute;
    font-size: 20px;
    bottom: 50%;
    left: 51%;
    color: #afafaf;
}
.sat-plot-circle-text60 {
    position: absolute;
    font-size: 20px;
    bottom: 66.66%;
    left: 51%;
    color: #afafaf;
}
.sat-plot-circle-text30 {
    position: absolute;
    font-size: 20px;
    bottom: 83.33%;
    left: 51%;
    color: #afafaf;
}
.sat-direction {
    position: absolute;
    font-size: 14px;
    color: #2d2d2d;
}
.sat-direction.w {
    bottom: 50%;
    left: -13px;
}
.sat-direction.s {
    left: calc(50% + 4px);
    bottom: 0;
}
.sat-direction.e {
    bottom: 50%;
    right: -10px;
}
.sat-direction.n {
    left: calc(50% + 4px);
    top: 0;
}

.sat-plot-x0 {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border: 0;
    border-top: #999999 1px dotted;
}
.sat-plot-y0 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border: 0;
    border-right: #999999 1px dotted;
}
.sat-plot-x1 {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border: 0;
    border-top: #999999 1px dotted;
}
.sat-plot-y1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border: 0;
    border-right: #999999 1px dotted;
}

.sat-ball {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10%;
    left: 10%;
    line-height: 1;
    border-radius: 100%;
    border: #999999 1px solid;
    transition: opacity 1s ease-in-out, top 0.8s ease-in-out, left 0.8s ease-in-out;
}
.sat-ball-legend {
    padding-bottom: 8px;
}
.sat-ball-legend em {
    font-style: normal;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 8px;
}
.sat-ball-legend .sat-ball {
    position: initial;
    display: inline-block;
}


.sat-ball span {
    display: block;
    color: white;
    font-size: 8px;
    line-height: 1;
    text-align: center;
    margin-top: 6px;
}

.glo {
    background:linear-gradient(to bottom,
        #ffffff 0, #ffffff 33%, #0000ff 33%, #0000ff 67%, #ff0000 67%, #ff0000 100%);
}
.gal {
    background-color: #334b83;
}
.bd {
    background-color: #ec2525;
    border-color: #8f0c0c;
}
.irn {
    background:linear-gradient(to bottom,
    #e79e07 0, #e79e07 33%, #ffffff 33%, #ffffff 67%, #13b408 67%, #13b408 100%);
}
.irn span {
    color: black;
}
.qzss {
    background-color: #ab1010;
    border-color: #ab1010;
}
.sbs {
    background-color: #ffffff;
    border-color: #9b9b9b;
}
.sbs span {
    color: black;
}
.gps {
    background:linear-gradient( to bottom right, #154dce, #4572da, #e35454, #ec0808, #ec0808);
}

.navbar-brand .badge {
    font-size: 13px;
    font-weight: 300;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    position: absolute;
    right: -30px;
}

.centered-button {
    width: 90px; /* Ширина кнопки */
    height: 45px; /* Высота кнопки */
    display: flex; /* Включаем Flexbox */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    text-align: center; /* Центрируем текст */
    }

.accordion-item .accordion-header.active {
    background-color: #d1e7dd; /* Задайте желаемый цвет фона */
}

.form-check-input {
    vertical-align: middle;
}

#elPorts:focus {
    outline: none; /* Убираем стандартный фокус */
    border-color: black; /* Устанавливаем черный цвет рамки */
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.25); /* Устанавливаем черную тень для фокуса */
}

#elNtripRTCMPort:focus {
    outline: none; /* Убираем стандартный фокус */
    border-color: black; /* Устанавливаем черный цвет рамки */
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.25); /* Устанавливаем черную тень для фокуса */
}

#elCOM1speed:focus {
    outline: none; /* Убираем стандартный фокус */
    border-color: black; /* Устанавливаем черный цвет рамки */
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.25); /* Устанавливаем черную тень для фокуса */
}

#elCOM1format:focus {
    outline: none; /* Убираем стандартный фокус */
    border-color: black; /* Устанавливаем черный цвет рамки */
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.25); /* Устанавливаем черную тень для фокуса */
}

#elCOM2speed:focus {
    outline: none; /* Убираем стандартный фокус */
    border-color: black; /* Устанавливаем черный цвет рамки */
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.25); /* Устанавливаем черную тень для фокуса */
}

#elCOM2format:focus {
    outline: none; /* Убираем стандартный фокус */
    border-color: black; /* Устанавливаем черный цвет рамки */
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.25); /* Устанавливаем черную тень для фокуса */
}

#elCOM3speed:focus {
    outline: none; /* Убираем стандартный фокус */
    border-color: black; /* Устанавливаем черный цвет рамки */
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.25); /* Устанавливаем черную тень для фокуса */
}

#elCOM3format:focus {
    outline: none; /* Убираем стандартный фокус */
    border-color: black; /* Устанавливаем черный цвет рамки */
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.25); /* Устанавливаем черную тень для фокуса */
}

#elRTCMinterval:focus {
    outline: none; /* Убираем стандартный фокус */
    border-color: black; /* Устанавливаем черный цвет рамки */
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.25); /* Устанавливаем черную тень для фокуса */
}

#elInterval:focus {
    outline: none; /* Убираем стандартный фокус */
    border-color: black; /* Устанавливаем черный цвет рамки */
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.25); /* Устанавливаем черную тень для фокуса */
}

#elCasterPassword:focus {
    outline: none; /* Убираем стандартный фокус */
    border-color: black; /* Устанавливаем черный цвет рамки */
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.25); /* Устанавливаем черную тень для фокуса */
}

#elConsole:focus {
    outline: none; /* Убираем стандартный фокус */
    border-color: black; /* Устанавливаем черный цвет рамки */
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.25); /* Устанавливаем черную тень для фокуса */
}

#elProjection:focus {
    outline: none; /* Убираем стандартный фокус */
    border-color: black; /* Устанавливаем черный цвет рамки */
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.25); /* Устанавливаем черную тень для фокуса */
}

#elVertical:focus {
    outline: none; /* Убираем стандартный фокус */
    border-color: black; /* Устанавливаем черный цвет рамки */
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.25); /* Устанавливаем черную тень для фокуса */
}

#elHorizontal:focus {
    outline: none; /* Убираем стандартный фокус */
    border-color: black; /* Устанавливаем черный цвет рамки */
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.25); /* Устанавливаем черную тень для фокуса */
}

#elHeight:focus {
    outline: none; /* Убираем стандартный фокус */
    border-color: black; /* Устанавливаем черный цвет рамки */
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.25); /* Устанавливаем черную тень для фокуса */
}

#elComputation:focus {
    outline: none; /* Убираем стандартный фокус */
    border-color: black; /* Устанавливаем черный цвет рамки */
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.25); /* Устанавливаем черную тень для фокуса */
}

#elPlate:focus {
    outline: none; /* Убираем стандартный фокус */
    border-color: black; /* Устанавливаем черный цвет рамки */
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.25); /* Устанавливаем черную тень для фокуса */
}

.custom-checkbox .form-check-input {
    background-color: black;
    border-color: #99999996;
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.25); /* Устанавливаем черную тень для фокуса */
}

.custom-checkbox .form-check-input:not(:checked) {
    background-color: white;
    border-color: #99999996;
}

input[type='checkbox'] {
    accent-color: black;
}

input[type='text']:focus {
    outline: none; /* Убираем стандартный фокус */
    border-color: #99999996; /* Устанавливаем черный цвет рамки */
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.25); /* Устанавливаем черную тень для фокуса */
}

input[type='password']:focus {
    outline: none; /* Убираем стандартный фокус */
    border-color: #99999996; /* Устанавливаем черный цвет рамки */
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.25); /* Устанавливаем черную тень для фокуса */
}

.hidden {
  display: none;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-radius: 3px;
  border: 1px solid #99999996; /* Цвет рамки */
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

.custom_span {
    display: inline-block; /* Устанавливаем элемент как блочный для задания размеров */
    width: 185px; /* Ширина элемента */
    height: 40px; /* Высота элемента */
    line-height: 40px; /* Высота строки для вертикального выравнивания текста */
    text-align: center; /* Выравнивание текста по центру */
    background-color: #f8f9fa; /* Цвет фона */
    border: 1px solid #ced4da; /* Цвет рамки */
    border-radius: 4px; /* Закругление углов */
}




